<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspenlaub.Net.GitHub.CSharp.Pegh" version="1.0.6651.21828" targetFramework="net46" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net46" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net46" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net46" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net46" />
  <package id="Moq" version="4.8.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net46" />
  <package id="SpecFlow" version="2.3.1" targetFramework="net46" />
  <package id="SpecFlow.MsTest" version="2.3.1" targetFramework="net46" />
  <package id="System.Management.Automation_PowerShell_3.0" version="6.3.9600.17400" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
</packages>